body{
background-color:#cc0000;
}
h1{
color:green; text-align:center; background-color:yellow;
}
.hcss{
color:white; text-align:center; background-color:blue;
}
#mid{
color:#ffffff; text-align:right; background-color:#87ceeb;
}